<script>
import axios from 'axios';
import { GlAlert, GlLoadingIcon } from '@gitlab/ui';
import { GlListIncident } from '../components';

export default {
  components: {
    GlListIncident,
    GlLoadingIcon,
    GlAlert,
  },
  data() {
    return {
      incidents: null,
      error: false,
      loading: true,
    };
  },
  computed: {
    noIncidents() {
      return !this.incidents?.length;
    },
  },
  mounted() {
    const URI = `/data/list.json`;
    this.fetchIncidents(URI);
  },
  methods: {
    fetchIncidents(URI) {
      return axios
        .get(URI)
        .then(({ data: { incidents } }) => {
          this.incidents = incidents;
          return incidents;
        })
        .catch(({ response: { status } }) => {
          if (status === 404) {
            this.incidents = [];
          } else {
            this.error = true;
          }
        })
        .finally(() => {
          this.loading = false;
        });
    },
  },
};
</script>

<template>
  <div class="container gl-pt-5">
    <gl-loading-icon v-if="loading" />
    <gl-alert v-else-if="error" variant="warning">
      There was an error fetching the incidents. Please refresh the page to try again.
    </gl-alert>
    <gl-alert v-else-if="noIncidents" variant="success">
      There are no active incidents to report. All systems are operational.
    </gl-alert>
    <div v-else-if="incidents">
      <h2 class="gl-mb-3">Incidents</h2>
      <div class="incident-list gl-mt-5">
        <gl-list-incident v-for="incident in incidents" :key="incident.id" :incident="incident" />
      </div>
    </div>
  </div>
</template>
