<script>
import { GlNewButton, GlBadge, GlTooltip } from '@gitlab/ui/';
import { dateTimeMixin } from '../utils/datetime';

const incidentStatuses = ['opened', 'closed'];
export default {
  components: {
    GlNewButton,
    GlBadge,
    GlTooltip,
  },
  mixins: [dateTimeMixin],
  props: {
    incident: {
      type: Object,
      required: true,
      validator: ({ title, status, links }) =>
        typeof title === 'string' && incidentStatuses.includes(status) && 'details' in links,
    },
  },
  computed: {
    statusBadgeVariant() {
      return this.incident.status === 'opened' ? 'danger' : 'success';
    },
  },
};
</script>

<template>
  <div
    class="gl-rounded-base gl-border-r-1 gl-p-5 gl-border-1 gl-border-solid gl-border-gray-300 gl-shadow-x0-y2-b4-s0"
  >
    <div class="gl-display-inline-flex gl-align-items-center">
      <strong ref="createdAtDateTime">{{ formatDate(incident.created_at) }}</strong>
      <gl-tooltip :target="() => $refs.createdAtDateTime">
        <div class="gl-display-block gl-align-items-center gl-font-sm">
          <div class="mb-1">{{ formatDateTime(incident.created_at) }}</div>
          <div>{{ formatDateTimeZone(incident.created_at) }}</div>
        </div>
      </gl-tooltip>
    </div>
    <div class="gl-text-gray-900">{{ incident.title }}</div>
    <gl-badge
      class="gl-display-inline-block gl-mt-3 text-capitalize"
      pill
      :variant="statusBadgeVariant"
    >
      {{ incident.status }}
    </gl-badge>
    <router-link
      :to="{ name: 'details', params: { link: incident.links.details } }"
      class="gl-display-block"
    >
      <gl-new-button class="gl-font-base gl-mt-5">Full report</gl-new-button>
    </router-link>
  </div>
</template>
